body
{
  text-align:center;
  background_color: liner-gradient blue;
  background-repeat:no-repeat;
  
}

h1{text-shadow:2px 2px #f8BBDO
font-size:20px}

#My hobby{
  padding:20px;
  font-size:18;
  text-align:center;
}